body {
    transition: ease;
    margin:0;
}

.hero {
    background-color:#2AD179;
}

.blue {
    background-color: #73bfb8;
}

.pink {
    background-color: #3da5d9;
}

.title {
    padding-bottom: 7rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;

}

.subheading {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
}

.section {
    height: 100vh;
    padding: 30vh 0 7rem;
    text-align: center;
}

.section2 {
    height: 100vh;
    padding: 35vh 0 7rem;
    text-align: center;
    color: white;
}

.section3 {
    height: 100vh;
    padding: 38vh 0 2vh;
    text-align: center;
}

.section4 {
    height: 100vh;
    padding: 20vh 0 35vh;
}
.section5 {
    height:100vh;
    position: relative;
    height: 100%;
}


i {
    padding-right: 10px;
}

.caption{
    width: 80%; 
    height:40%; 
    position: absolute; 
    z-index: 2;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-size:2rem;
    text-align:center;
}

.caption ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align:center;
}

.videoDiv{
    width:100%;
    height:100%;
    display:flex; /*find out what this is doing*/
    justify-content: center;
    align-items:center;
    margin:0 auto;
}
.shader{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    width:100%;
    height:100%;
    background: rgba(35,100,170,0.8);
    z-index:1;
    top:0;
    left:0;
}

video{
    top:50%;
    left:50%;
    transform:translate (-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
}

.resort ul {
    padding-top:2rem;
}

.ski {
    max-height: 400px;
}

.bold {
    font-weight: 900;
}

.bold ul li {
    list-style-type: square;
    padding: 0;
    margin: 0;
}

.fa-snowflake {
    position: absolute;
    color: white;
    left: 60%;
    top: 20%;
}

.fa-crown {
    position: absolute;
    left: 240px;
    top: -70px;
    transform: rotate(20deg);
    z-index: 1;
    color: gold;
}

.mainimg {
    position: relative;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* COUNTER STYLING */
#countup {
    text-align: center;
    font-size: 3rem;
}

#countup p {
    display: inline-block;
    padding: 10px;
    background: #151515;
    margin: 0 0 20px;
    border-radius: 3px;
    color: white;
    min-width: 2.6rem;
}

/*MEDIA QUERIES*/

@media (max-width: 1050px) {
    .fa-crown {
        left: 220px;
    }
}

@media (max-width: 950px) {
    .fa-crown {
        left: 200px;
    }
}

@media (max-width: 800px) {
    .fa-crown {
        left: 170px;
    }
}

@media (max-width: 750px) {
    .fa-crown {
        left: 180px;
    }
}

@media (max-width: 720px) {
    .fa-crown {
        left: 180px;
    }
}

@media (max-width: 700px) {
    .fa-crown {
        left: 130px;
    }
}

@media (max-width: 550px) {
    .fa-crown {
        left: 220px;
    }
}

@media (max-width: 470px) {
    .fa-crown {
        left: 180px;
    }
}

@media (max-width: 410px) {
    .fa-crown {
        left: 180px;
    }
}

@media (max-width: 300px) {
    .fa-crown {
        left: 140px;
    }
}